.wrap-loader{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.process-loader{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 150px; 
}

.process-loader .svg-wrap{
	width: 100%;
    text-align: center;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #FF6700;
}